/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main-menu {
  width: 200px;
  height: 100%;
  background-color: #D46A6A;
  position: fixed;
  color: white;
  box-sizing: border-box;
  text-align: right;
  z-index: 100;
  overflow-y: scroll; }
  .main-menu .menu-item {
    height: 60px;
    line-height: 35px;
    padding: 10px;
    box-sizing: border-box;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  .main-menu .menu-item:hover {
    background-color: #AA3939; }
    .main-menu .menu-item:hover .sub-menu {
      display: block; }
  .main-menu .selected {
    background-color: #AA3939; }
  .main-menu li {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px; }
    .main-menu li a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      color: white;
      text-decoration: none; }
  .main-menu .sub-menu-selected {
    display: block !important;
    overflow: visible !important; }
  .main-menu .sub-menu {
    display: none;
    overflow: hidden;
    background-color: #FFAAAA; }
    .main-menu .sub-menu li {
      display: block;
      height: 35px;
      line-height: 25px;
      padding: 5px 15px 5px 15px;
      box-sizing: border-box; }
      .main-menu .sub-menu li a {
        font-size: 14px;
        color: #801515; }
      .main-menu .sub-menu li a:hover {
        color: white; }
      .main-menu .sub-menu li .sub-selected {
        color: white;
        padding-right: 10px; }

.viewer-menu div {
  display: inline-block; }
  .viewer-menu div a {
    padding: 10px; }
  .viewer-menu div .view-selected {
    background-color: #550000;
    color: white; }

.positive {
  background-color: #8CEE7D !important; }

.negative {
  background-color: red !important; }

.positive:hover, .negative:hover {
  background-color: #FFAAAA !important; }

.view-list li {
  width: 150px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  text-align: center; }
  .view-list li .profile-pic {
    width: 150px;
    height: 150px;
    border: 1px solid #550000;
    border-radius: 15px;
    box-sizing: border-box; }
  .view-list li p {
    text-align: center;
    position: relative;
    top: -31px;
    background-color: rgba(85, 0, 0, 0.8);
    padding: 5px;
    border-radius: 0 0 15px 15px;
    color: white; }
  .view-list li a {
    display: block;
    color: white; }
  .view-list li a:hover {
    cursor: pointer;
    opacity: 0.5; }
  .view-list li button {
    width: 73px;
    height: 30px;
    margin: 0;
    margin-top: 5px;
    top: -25px;
    position: relative; }
  .view-list li .big-button {
    width: 150px; }
  .view-list li input {
    position: relative;
    top: -10px; }

.login {
  width: 100%;
  text-align: center;
  left: 0; }
  .login form {
    text-align: left;
    width: 300px;
    display: inline-block; }
    .login form input {
      width: 100%; }
    .login form button {
      margin: 10px;
      width: 285px;
      height: 30px; }

main {
  width: calc(100% - 200px);
  left: 200px;
  padding: 50px;
  position: relative;
  box-sizing: border-box; }
  main h1 {
    color: #550000; }
  main form {
    color: #550000; }
    main form input {
      width: 50%;
      height: 30px;
      border-radius: 5px;
      font-size: 15px; }
    main form input:focus {
      outline: none; }
    main form input[type="radio"] {
      width: 25px;
      vertical-align: middle; }
    main form label {
      display: block;
      min-height: 75px;
      font-size: 20px;
      padding: 10px;
      box-sizing: border-box; }
      main form label img {
        width: 400px;
        display: block; }
      main form label input {
        width: 50%;
        height: 30px;
        border-radius: 5px;
        font-size: 15px; }
      main form label input:focus {
        outline: none; }
      main form label input[type="radio"] {
        width: 25px;
        vertical-align: middle; }
      main form label select {
        width: 150px;
        height: 30px;
        margin: 10px;
        font-size: 15px; }
    main form button {
      border: none;
      background-color: #801515;
      color: white;
      width: 200px;
      height: 50px;
      font-size: 15px;
      cursor: pointer;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s; }
    main form button:focus {
      outline: none; }
    main form button:hover {
      background-color: #D46A6A; }

.basic-url {
  padding: 20px 0 20px 0; }
  .basic-url a {
    color: #801515;
    text-decoration: none; }
  .basic-url a:hover {
    color: #D46A6A; }

.basic-button {
  border: none;
  background-color: #801515;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.basic-button:hover {
  background-color: #D46A6A; }

.table-button {
  width: 100%;
  height: 25px;
  font-size: 12px;
  margin: 1px; }

.table-button-2 {
  width: 100%;
  height: auto;
  font-size: 12px;
  margin: 1px;
  min-height: 25px; }

.top-buttons {
  display: block; }

.standard-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px; }
  .standard-table th {
    font-weight: bold; }
  .standard-table td, .standard-table th {
    border: 1px solid #FFAAAA;
    text-align: left;
    padding: 8px;
    vertical-align: top; }
  .standard-table tr:nth-child(even) {
    background-color: #FFAAAA; }
  .standard-table .location-dot {
    background-color: #8CEE7D;
    width: 5px; }
  .standard-table .location-dot-away {
    background-color: red; }
  .standard-table img {
    width: 50px;
    border: 1px solid #FFAAAA; }
  .standard-table tr .table-toggle-box {
    text-align: center;
    vertical-align: middle; }

h1, h2, h3, h4, h5, h6, p {
  padding: 10px; }

button {
  margin: 10px; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 28px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 20px; }

p {
  font-size: 18px; }

a {
  font-size: 18px; }

.stat-section {
  display: block;
  margin-bottom: 40px;
  box-sizing: border-box; }
  .stat-section h2 {
    border-bottom: 5px solid #801515; }

.home-section {
  margin: 50px; }
  .home-section h2 {
    text-align: center; }

#home-filter form section {
  margin-right: 10px;
  text-align: center;
  width: 100%; }

#home-filter form input {
  font-size: 15px;
  height: 25px;
  width: 49%; }

#home-filter form button {
  min-height: 30px;
  width: 25%;
  vertical-align: top;
  margin-top: 0; }

.pagination {
  display: inline-block;
  left: 50%;
  position: relative;
  transform: translateX(-50%); }
  .pagination a {
    color: #550000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer; }
  .pagination a:hover {
    color: #D46A6A; }
  .pagination .selected {
    color: #D46A6A; }

.filter-form {
  display: block;
  width: 100%;
  vertical-align: top;
  padding: 25px 0 25px 0;
  box-sizing: border-box; }
  .filter-form h6 {
    text-decoration: underline; }
  .filter-form h6:hover {
    cursor: pointer;
    color: #FFAAAA; }
  .filter-form form section {
    width: 24%;
    display: inline-block;
    vertical-align: top; }
  .filter-form form button {
    width: 48%;
    min-height: 25px;
    height: auto;
    font-size: 12px;
    display: inline-block;
    margin: 0; }
  .filter-form form label {
    font-size: 15px;
    min-height: auto;
    padding: 5px; }
    .filter-form form label input {
      width: 100%;
      font-size: 12px;
      height: 20px; }
  .filter-form form input {
    width: 100%;
    font-size: 12px;
    height: 20px; }

.media-list-pic li {
  background-color: #801515;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid #801515;
  width: 250px;
  position: relative;
  vertical-align: top; }
  .media-list-pic li img {
    display: block;
    height: auto;
    width: 250px;
    border-radius: 10px 10px 0 0; }
  .media-list-pic li .corner-img {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: auto;
    border-radius: 5px; }
  .media-list-pic li h6 {
    color: white;
    display: block;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .media-list-pic li h6:hover {
    overflow: visible;
    white-space: normal; }
  .media-list-pic li button {
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D46A6A;
    color: white;
    border: 0;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  .media-list-pic li button:hover {
    cursor: pointer;
    background-color: #FFAAAA; }
  .media-list-pic li button:focus {
    outline: none; }
  .media-list-pic li .left-button {
    right: 50px; }

.on-todo-list {
  background-color: black;
  color: white; }

.add-todo-list li {
  padding: 10px;
  color: #801515; }
  .add-todo-list li a:hover {
    cursor: pointer; }

.add-button {
  position: fixed;
  top: 60px;
  right: 50px;
  margin: 0; }

.profile .profile-pic {
  width: 150px;
  height: 150px;
  border: 1px solid #550000;
  border-radius: 15%;
  box-sizing: border-box; }

.profile section {
  vertical-align: top;
  display: inline-block;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px; }
  .profile section button {
    height: 35px;
    display: block;
    margin: 10px; }

.profile ul li {
  display: inline-block;
  margin: 10px; }
  .profile ul li p {
    text-align: center; }
  .profile ul li a {
    display: block; }
  .profile ul li a:hover {
    cursor: pointer;
    opacity: 0.5; }
