<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="movie_clone && movie">

  <h1>Update Movie</h1>

  <form ng-submit="updateMovie(movie_clone)">

    <label for="title">Title<br>
        <input type="text" name="title" id="title" ng-model="movie_clone.title" placeholder="Title..."><br>
    </label>

    <label for="edition">Edition<br>
        <input type="text" name="edition" id="edition" ng-model="movie_clone.edition" placeholder="Edition...">
    </label>

    <label for="season">Season<br>
        <input type="text" name="season" id="season" ng-model="movie_clone.season" placeholder="Season...">
    </label>

    <label for="format">Format<br>
        <input type="radio" ng-model="movie_clone.format" value="DVD"> DVD<br>
        <input type="radio" ng-model="movie_clone.format" value="Blu-Ray"> Blu-Ray<br>
        <input type="radio" ng-model="movie_clone.format" value="DVD/Blu-Ray Combo"> DVD/Blu-Ray Combo<br>
    </label>

    <label for="content_type">Content Type<br>
        <input type="radio" ng-model="movie_clone.content_type" value="Live Action"> Live Action<br>
        <input type="radio" ng-model="movie_clone.content_type" value="Anime"> Anime<br>
        <input type="radio" ng-model="movie_clone.content_type" value="Animated"> Animated<br>
    </label>

    <label for="location">Location<br>
      <input type="radio" ng-model="movie_clone.location" value="Apartment"> Apartment<br>
      <input type="radio" ng-model="movie_clone.location" value="Home"> Home<br>
    </label>

    <label for="image">Image<br>
        <input type="file" name="image" file-display file-model="movie_clone.image" placeholder="Image...">
        <img ng-if="hasChanged(movie_clone.image)" id="image" alt="Preview Movie Image" />
        <img ng-if="!isEmpty(movie_clone.image) && !hasChanged(movie_clone.image)" ng-src="../backend/public/{{movie_clone.image}}" alt="Preview Movie Image" />
    </label>

    <button type="submit">Update</button>

  </form>


</main>
