<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<div class="loader" ng-if="!user || !color_scheme"></div>

<mc-messages class="message-popup"></mc-messages>

<main ng-if="user && color_scheme">

  <h1>Add Movies to Watch List</h1>

  <p ng-show="items.length <= 0">No movies</p>

  <!-- Movie Table -->
  <table ng-show="items.length > 0" class="standard-table">
      <tr>
          <th class="select-header">Select</th>
          <th class="image-column-header">Image</th>
          <th>Title</th>
          <th>Season</th>
          <th>Edition</th>
          <th>Format</th>
          <th>Content Type</th>
          <th>Genre</th>
          <th>MPAA/TV Rating</th>
          <th class="location-column-header">Location</th>
      </tr>
      <tr ng-repeat="item in items">

          <th ng-if="item.isHeader" colspan="10">{{ item.title }}</th>

          <td class="table-toggle-box" ng-if="!item.isHeader"><input ng-click="toggleAddedItems(item.id)" type="checkbox" name="{{item.title}}" value="{{item.id}}"></td>
          <td ng-if="!item.isHeader" class="image-column">
              <img ng-if="!isEmpty(item.image)" alt="Movie Cover" ng-src="../backend/public/{{item.image}}"/>
              <img ng-if="isEmpty(item.image)" alt="Movie Cover" ng-src="/TaraCatalog/frontend/assets/images/movie_saver.jpg"/>
          </td>
          <td ng-if="!item.isHeader">{{item.title}}</td>
          <td ng-if="!item.isHeader">{{item.season}}</td>
          <td ng-if="!item.isHeader">{{item.edition}}</td>
          <td ng-if="!item.isHeader">{{item.format}}</td>
          <td ng-if="!item.isHeader">{{item.content_type}}</td>
          <td ng-if="!item.isHeader">{{item.genre}}</td>
          <td ng-if="!item.isHeader">{{item.mpaa_rating}}</td>
          <td ng-if="!item.isHeader" class="location-dot location-header" ng-class="{'location-dot-away': item.location != 'Apartment'}">{{item.location}}</td>
      </tr>
  </table>


  <button ng-show="items.length > 0" class="basic-button add-button" ng-click="addToReadList(addedItems)">Add Movies</button>

</main>
