<div class="viewer-menu">
    <div class="basic-url">
        <a ng-class="{ 'view-selected': isActive(['/view/:id']) }" ng-href="#/view/{{viewer.creator.id}}">Search</a>
    </div>
    <div class="basic-url">
        <a ng-class="{ 'view-selected': isActive(['/book_view/:id']) }" ng-href="#/book_view/{{viewer.creator.id}}">See Books</a>
    </div>
    <div class="basic-url">
        <a ng-class="{ 'view-selected': isActive(['/movie_view/:id']) }" ng-href="#/movie_view/{{viewer.creator.id}}">See Movies</a>
    </div>
    <div class="basic-url">
        <a ng-class="{ 'view-selected': isActive(['/game_view/:id']) }" ng-href="#/game_view/{{viewer.creator.id}}">See Games</a>
    </div>
</div>
