.create-button:hover{
  background-color:$light-red;
}

.books-list{
  li{
    height: auto;
    background-color:$dark-red;
    margin:15px;
    border: 5px solid $darker-red;
    box-sizing: border-box;
    a{
      display:block;
      cursor:pointer;

      img{
        height:200px;
        width:auto;
        vertical-align: middle;
      }
      section{
        display: inline-block;
        vertical-align: top;
        color: $font-light;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;

        div{
          display:inline-block;
          width:32%;
          vertical-align:top;
        }

        p{
          color: $lighter-red;
          margin: 5px;
          box-sizing: border-box;
        }

        .location{
          display: inline-block;
          width: 25px;
          height: 25px;
          background-color: #8CEE7D;
          border-radius: 50%;
        }
        .location-away{
          background-color:red;
        }

        .books-button{
          display: block;
          width: 75%;
          height: 30px;
          background-color: $lighter-red;
          color: $darker-red;
          border: none;
          font-size:15px;
          cursor:pointer;
          margin:10px;
        }
      }
    }
  }
  li:hover{
    background-color:$medium-red;
    border: 5px solid $dark-red;
  }
}

.pagination {
  display: inline-block;

  a{
    color: $darker-red;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    color: $light-red;
  }
  .selected{
    color: $light-red;
  }
}

.standard-table{
  border-collapse: collapse;
  width: 100%;

  th{
    font-weight:bold;
  }

  td, th{
    border: 1px solid $lighter-red;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even){
    background-color: $lighter-red;
  }
}
