.pagination {
  display: inline-block;
  left: 50%;
  position: relative;
  transform: translateX(-50%);

  a{
    color: $darker-red;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    color: $light-red;
  }
  .selected{
    color: $light-red;
  }
}

.filter-form{
  display: block;
  width: 100%;
  vertical-align: top;
  padding: 25px 0 25px 0;
  box-sizing: border-box;

  h6{
    text-decoration:underline;
  }
  h6:hover{
    cursor:pointer;
    color: $lighter-red;
  }

  form{

    section{
      width: 24%;
      display: inline-block;
      vertical-align: top;
    }

    button{
      width: 48%;
      min-height: 25px;
      height: auto;
      font-size: 12px;
      display: inline-block;
      margin:0;
    }

    label{
      font-size:15px;
      min-height:auto;
      padding:5px;

      input{
        width: 100%;
        font-size: 12px;
        height: 20px;
      }
    }
    input{
      width: 100%;
      font-size: 12px;
      height: 20px;
    }
  }
}

.items-list-pic{
    li{
        background-color: $dark-red;
        display: inline-block;
        border-radius: 10px;
        margin: 10px;
        border: 2px solid $dark-red;
        width:200px;
        position:relative;
        vertical-align:top;
        img{
            display: block;
            height: auto;
            width: 200px;
            border-radius: 10px 10px 0 0;
        }
        .corner-img{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 40px;
            height: auto;
            border-radius: 5px;
        }
        h6{
            color:$font-light;
            display:block;
            font-size: 16px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space:nowrap;
        }
        h6:hover{
            overflow:visible;
            white-space:normal;
        }
        button{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color:$light-red;
            color:$font-light;
            border:0;
            -webkit-transition: background-color 0.5s;
            transition: background-color 0.5s;
        }
        button:hover{
            cursor:pointer;
            background-color:$lighter-red;
        }
        button:focus{
            outline:none;
        }
        .left-button{
            right: 50px;
        }
    }
}

.on-todo-list{
  background-color:black;
  color:white;
}

.add-todo-list{
    li{
        padding: 10px;
        color: $dark-red;
        a:hover{
            cursor:pointer;
        }
    }
}

.add-button{
    position: fixed;
    top: 75px;
    right: 50px;
    margin:0;
}
