
// Mobile CSS
@media screen and (max-width: 800px) {
    .add-button{
        left:0;
        width:100%;
    }

    .media-list-pic{
        li{
            margin: 5px;
            width: 145px;
            img{
                width: 145px;
            }
            h6{
                width: 145px;
                font-size: 12px;
            }
        }
    }

    .pagination{
        a{
            padding: 8px 8px;
        }
    }
    .filter-form{
        form{
            section{
                width: 100%;
            }
        }
    }
}

// Web CSS
@media screen and (min-width: 800px) {
    .add-button{
        left: 200px;
        width: calc(100% - 200px);
    }

    .media-list-pic{
        li{
            margin: 10px;
            width: 260px;
            img{
                width: 260px;
            }
            h6{
                width: 260px;
                font-size: 16px;
            }
        }
    }

    .pagination{
        a{
            padding: 8px 16px;
        }
    }
    .filter-form{
        form{
            section{
                width: 24%;
            }
        }
    }
}


@media screen{
    .pagination {
      display: inline-block;
      left: 50%;
      position: relative;
      transform: translateX(-50%);

      a{
        color: $darker-red;
        float: left;
        text-decoration: none;
        cursor: pointer;
      }
      a:hover{
        color: $light-red;
      }
      .selected{
        color: $light-red;
      }
    }

    .filter-form{
      display: block;
      width: 100%;
      vertical-align: top;
      padding: 25px 0 25px 0;
      box-sizing: border-box;

      h6{
        text-decoration:underline;
      }
      h6:hover{
        cursor:pointer;
        color: $lighter-red;
      }
      .selected{
          color: $lighter-red;
      }
      .selected:hover{
          color: black;
      }

      form{

        section{
          display: inline-block;
          vertical-align: top;
        }

        button{
          width: 48%;
          min-height: 25px;
          height: auto;
          font-size: 12px;
          display: inline-block;
          margin:0;
        }

        label{
          font-size:15px;
          min-height:auto;
          padding:5px;

          input{
            width: 100%;
            font-size: 12px;
            height: 20px;
          }
        }
        input{
          width: 100%;
          font-size: 12px;
          height: 20px;
        }
      }
    }

    .media-list-pic{
        text-align:center;
        li{
            display: inline-block;
            border-radius: 10px;
            position: relative;
            vertical-align: top;
            img{
                display: block;
                border-radius: 10px;
                border: 2px solid $dark-red;
                box-sizing: border-box;
            }
            .corner-img{
                position: absolute;
                top: 5px;
                right: 5px;
                width: 40px;
                height: auto;
                border-radius: 5px;
            }
            h6{
                color:$font-light;
                display:block;
                text-align: center;
                position: absolute;
                bottom: 0px;
                background-color: rgba($dark-red, 0.8);
                padding: 10px;
                border-radius: 0 0 10px 10px;
                box-sizing: border-box;
                text-shadow: 2px 2px 5px black;
            }
            h6:hover{
                overflow:visible;
                white-space:normal;
            }
            button{
                margin:0;
                position: absolute;
                top: 5px;
                right: 5px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color:$light-red;
                color:$font-light;
                border:0;
                -webkit-transition: background-color 0.5s;
                transition: background-color 0.5s;
            }
            button:hover{
                cursor:pointer;
                background-color:$lighter-red;
            }
            button:focus{
                outline:none;
            }
            .left-button{
                right: 50px;
            }
        }
    }

    .on-todo-list{
      background-color:black;
      color:white;
    }

    .add-todo-list{
        li{
            padding: 10px;
            color: $dark-red;
            a:hover{
                cursor:pointer;
            }
        }
    }

    .add-button{
        position: fixed;
        bottom: 0px;
        margin: 0;
        box-shadow: 0px -5px 50px white;
    }

    .add-button:hover{
        background-color:$lighter-red;
    }

    .table-title{
        width:70%;
        display:inline-block;
    }
}

@media print{
    .filter-form{
        display:none;
    }

    .sort-media-form{
        display:none;
    }
}
