<!-- Menu --> <div ng-include="'views/subviews/mainMenu/_mainMenu.html'"></div>
<!-- Message Popups --> <mc-messages class="message-popup"></mc-messages>

<main ng-if="user && color_scheme">

    <h1 class="table-title">Games ( {{ items_length }} )</h1>
    <button ng-click="printPage()" class="basic-button print-button">Print</button>

    <!-- Game Filter -->
    <div class="filter-form" ng-include="'views/subviews/tableSubviews/_filterGameResults.html'"></div>
    <!-- Games Table Order By -->
    <div ng-include="'views/subviews/tableSubviews/_sortGameResults.html'"></div>

    <!-- Mobile Keys -->
    <div class="mobile" ng-include="'views/subviews/tableSubviews/_keys.html'"></div>

    <!-- Loading Wheel --> <div class="loader" ng-if="!user || !color_scheme || !items_resolved"></div>

    <!-- Game Table -->
    <p ng-show="items.length <= 0">No matching games</p>
    <!-- Web Table -->
    <div class="web" ng-include="'views/subviews/tableSubviews/gameTable/_webTable.html'"></div>
    <!-- Mobile Table -->
    <div class="mobile" ng-include="'views/subviews/tableSubviews/gameTable/_mobileTable.html'"></div>
</main>
