<section class="symbol-key">

    <h6>Key</h6>

    <div>
        <p>Location:</p>
        <div class="key-item">
            <div class="basic-dot basic-dot-green"></div>
            <p> = Apartment</p>
        </div>
        <div class="key-item">
            <div class="basic-dot basic-dot-red"></div>
            <p> = Home</p>
        </div>
    </div>

    <div>
        <p>Complete Series:</p>
        <div class="key-item">
            <div class="basic-dot basic-dot-blue"></div>
            <p> = Standalone</p>
        </div>
        <div class="key-item">
            <div class="basic-dot basic-dot-yellow"></div>
            <p> = Complete</p>
        </div>
        <div class="key-item">
            <div class="basic-dot basic-dot-gray"></div>
            <p> = Incomplete</p>
        </div>
    </div>

</section>
