<form class="sort-media-form">
    <section>
        <label for="sortVal">Sort By:<br>
            <select ng-change="sortBy(sortVal, filter)" ng-model="sortVal">
                <option value="none">None</option>
                <option value="title">Title</option>
                <option value="platform">Platform</option>
                <option value="esrb_rating">ESRB Rating</option>
                <option value="location">Location</option>
                <option value="genre">Genre</option>
                <option value="complete_series">Complete Series</option>
            </select>
        </label>
    </section>
</form>
