<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="user && color_scheme">

    <h1>Create a Book</h1>

    <form ng-submit="createMedia(media)">

        <label for="title">Title<br>
            <input required type="text" name="title" id="title" ng-model="media.title" placeholder="Title..."><br>
            Select From Existing:
            <select ng-model="media.old_title" ng-options="title.title for title in titles" ng-change="updateForSelectValue(media.old_title.title, 'title')"></select>
        </label>

        <label for="author">Author<br>
            <input type="text" name="author" id="author" ng-model="media.author" placeholder="Author..."><br>
            Select From Existing:
            <select ng-model="media.old_author" ng-options="author.author for author in authors" ng-change="updateForSelectValue(media.old_author.author, 'author')"></select>
        </label>

        <label for="volume">Volume<br>
            <input type="number" name="volume" id="volume" ng-model="media.volume" placeholder="Volume...">
        </label>

        <label for="isbn">ISBN<br>
            <input type="text" name="isbn" id="isbn" ng-model="media.isbn" placeholder="ISBN...">
        </label>

        <label for="cover_type">Cover Type<br>
            <input type="radio" ng-model="media.cover_type" value="Paperback"> Paperback<br>
            <input type="radio" ng-model="media.cover_type" value="Hardcover"> Hardcover<br>
        </label>

        <label for="content_type">Content Type<br>
            <input type="radio" ng-model="media.content_type" value="Novel"> Novel<br>
            <input type="radio" ng-model="media.content_type" value="Manga"> Manga<br>
            <input type="radio" ng-model="media.content_type" value="Comic Book"> Comic Book<br>
        </label>

        <label for="location">Location<br>
            <input type="radio" ng-model="media.location" value="Apartment"> Apartment<br>
            <input type="radio" ng-model="media.location" value="Home"> Home<br>
        </label>

        <label for="image">Image<br>
            <input type="file" name="image" file-display file-model="media.image" placeholder="Image...">
            <img ng-if="!isEmpty(media.image)" id="image" alt="Preview Book Image" />
        </label>

        <button type="submit">Create</button>

    </form>


</main>
