<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="user && color_scheme">

    <h1>Read List ( {{ item_length }} )</h1>

    <div class="basic-url"><a ng-href="#/books_table/read_add">+ Add to Read List</a></div>

    <table class="standard-table" ng-show="items.length > 0">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Volume</th>
            <th>ISBN</th>
            <th>Cover Type</th>
            <th>Content Type</th>
            <th colspan="2">Location</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in items">

            <th ng-if="item.isHeader" colspan="10">{{ item.title }}</th>

            <td ng-if="!item.isHeader">{{item.row_number}}</td>
            <td ng-if="!item.isHeader">{{item.title}}</td>
            <td ng-if="!item.isHeader">{{item.author}}</td>
            <td ng-if="!item.isHeader && item.volume">{{item.volume}}</td>
            <td ng-if="!item.isHeader && !item.volume"></td>
            <td ng-if="!item.isHeader">{{item.isbn}}</td>
            <td ng-if="!item.isHeader">{{item.cover_type}}</td>
            <td ng-if="!item.isHeader">{{item.content_type}}</td>
            <td ng-if="!item.isHeader">{{item.location}}</td>
            <td ng-if="!item.isHeader" class="location-dot" ng-class="{'location-dot-away': item.location != 'Apartment'}"></td>
            <td ng-if="!item.isHeader">
                <button class="basic-button table-button-2 on-todo-list" ng-click="toggleReadList(item.id,0)">Remove from Read List</button>
            </td>
        </tr>
    </table>

</main>
