<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-show="books.length > 0">

  <h1>Books ( {{ books.length - totalAddedLetters }} )</h1>

  <button ng-click="goToPath('/books/0/25')" class="basic-button">Go to List View</button>

  <button ng-click="goToPath('/books_create')" class="basic-button">Create New</button>

  <div class="filter-form" ng-include="'views/site/subviews/_filterBookResults.html'"></div>

  <table class="standard-table">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Volume</th>
      <th>ISBN</th>
      <th>Cover Type</th>
      <th>Content Type</th>
      <th>Location</th>
    </tr>
    <tr ng-repeat="book in books" ng-if="isFilterResult(book)">
      <th ng-if="book.isHeader" colspan="7">{{ book.title }}</th>
      <td ng-if="!book.isHeader">{{book.title}}</td>
      <td ng-if="!book.isHeader">{{book.author}}</td>
      <td ng-if="book.volume && !book.isHeader">{{book.volume}}</td>
      <td ng-if="!book.volume && !book.isHeader"></td>
      <td ng-if="!book.isHeader">{{book.isbn}}</td>
      <td ng-if="!book.isHeader">{{book.cover_type}}</td>
      <td ng-if="!book.isHeader">{{book.content_type}}</td>
      <td ng-if="!book.isHeader">{{book.location}} <div class="location-dot" ng-class="{'location-dot-away': book.location != 'Apartment'}"></div></td>
    </tr>
  </table>


</main>
