<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<mc-messages class="message-popup"></mc-messages>

<div class="loader" ng-if="!user || !color_scheme || !media_resolved"></div>

<main ng-if="user && color_scheme && media_resolved">

    <h1>Books</h1>

    <p ng-if="media.length <= 0">No books</p>

    <div ng-show="media.length > 0" class="select-max-form" ng-include="'views/site/subviews/_selectMaxPerPage.html'"></div>

    <ul ng-show="media.length > 0" class="media-list-pic">
        <li ng-repeat="media_item in media">
            <button name="Edit Book" class="left-button" ng-click="goToPath('/books_update/', media_item.id)">Edit</button>
            <button name="Delete Book" ng-click="deleteMedia(media_item.id)">X</button>
            <img ng-if="!isEmpty(media_item.image)" alt="Book Cover" ng-src="../backend/public/{{media_item.image}}"/>
            <img ng-if="isEmpty(media_item.image)" alt="Book Cover" ng-src="/TaraCatalog/frontend/assets/images/book_saver.jpg"/>
            <h6>{{getDisplayTitle(media_item)}}</h6>
        </li>
    </ul>

    <div ng-show="media.length > 0" ng-include="'views/site/subviews/_pagination.html'"></div>

</main>
