<div ng-include="'views/subviews/mainMenu/_mainMenu.html'"></div>

<div class="loader" ng-if="!user || !user_clone || !color_scheme"></div>

<mc-messages class="message-popup"></mc-messages>

<main ng-if="user_clone && user && color_scheme">

    <h1>Reset Password</h1>

    <form ng-submit="updateUser(new_password, new_password_2)">

        <label for="new_password">New Password<br>
            <input required type="password" name="new_password" id="new_password" ng-model="new_password" placeholder="New Password...">
        </label>

        <label for="new_password_2">Re-enter New Password<br>
            <input required type="password" name="new_password_2" id="new_password_2" ng-model="new_password_2" placeholder="Re-enter New Password...">
        </label>

        <button type="submit">Reset</button>

    </form>

</main>
