<!-- Menu --> <div ng-include="'views/subviews/mainMenu/_mainMenu.html'"></div>
<!-- Loading Wheel --> <div class="loader" ng-if="!user || !color_scheme || !items_resolved"></div>
<!-- Message Popups --> <mc-messages class="message-popup"></mc-messages>

<main ng-if="user && color_scheme && items_resolved">

    <h1>Add Books to Read List</h1>

    <p ng-if="items.length <= 0">No books</p>

    <table class="standard-table" ng-if="items.length > 0">
        <tr>
            <th class="select-header">Check All
                <input type="checkbox" ng-model="areAllChecked" ng-change="toggleAllItems(areAllChecked, items)" ng-true-value="true" ng-false-value="false"/>
            </th>
            <th class="image-column-header">Image</th>
            <th>Title</th>
            <th>Series</th>
            <th>Author</th>
            <th>Volume</th>
            <th>ISBN</th>
            <th>Cover Type</th>
            <th>Content Type</th>
            <th class="location-column-header">Location</th>
            <th>Genre</th>
            <th>Complete Series</th>
            <th>Notes</th>
        </tr>
        <tr ng-repeat="item in items">
            <td class="table-toggle-box">
                <input ng-click="toggleAddedItems(item.id)" type="checkbox" id="toggle{{item.id}}" name="{{item.title}}" value="{{item.id}}">
            </td>
            <td class="image-column">
                <img ng-if="!isEmpty(item.image)" alt="Book Cover" ng-src="backend/public/{{item.image}}"/>
                <img ng-if="isEmpty(item.image)" alt="Book Cover" ng-src="/TaraCatalog/assets/images/book_saver.jpg"/>
            </td>
            <td>{{item.title}}</td>
            <td>{{item.series}}</td>
            <td>{{item.author}}</td>
            <td ng-if="item.volume">{{item.volume}}</td>
            <td ng-if="!item.volume"></td>
            <td>{{item.isbn}}</td>
            <td>{{item.cover_type}}</td>
            <td>{{item.content_type}}</td>
            <td class="location-dot location-column" ng-class="{'location-dot-away': item.location != 'Apartment'}">{{item.location}}</td>
            <td>{{item.genre}}</td>
            <td class="complete-series-column" ng-class="{
                'incomplete': item.complete_series == 'Incomplete',
                'complete': item.complete_series == 'Complete',
                'standalone': item.complete_series == 'Standalone'}">
                {{item.complete_series}}
            </td>
            <td>{{item.notes}}</td>
        </tr>
    </table>

</main>

<button ng-if="items.length > 0" class="basic-button add-button" ng-click="addToReadList()">Add Books</button>
