<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="user_clone && user && color_scheme">

    <h1>Update Profile</h1>

    <form ng-submit="updateUser(user_clone)">

        <label for="username">Username<br>
            <input type="text" name="username" id="username" ng-model="user_clone.username" placeholder="Username..."><br>
        </label>

        <label for="email">E-mail<br>
            <input type="email" name="email" id="email" ng-model="user_clone.email" placeholder="Email..."><br>
        </label>

        <label for="first_name">First Name<br>
            <input type="text" name="first_name" id="first_name" ng-model="user_clone.first_name" placeholder="First Name...">
        </label>

        <label for="last_name">Last Name<br>
            <input type="text" name="last_name" id="last_name" ng-model="user_clone.last_name" placeholder="Last Name...">
        </label>

        <label for="color">Select Color Scheme<br>
            <select ng-change="changeStyle(user_clone.color_scheme)" ng-model="user_clone.color_scheme">
                <option value="blue">Blue</option>
                <option value="gray">Gray</option>
                <option value="green">Green</option>
                <option value="orange">Orange</option>
                <option value="pink">Pink</option>
                <option value="purple">Purple</option>
                <option value="red">Red</option>
                <option value="yellow">Yellow</option>
            </select>
        </label>

        <label for="image">Profile Picture<br>
            <input type="file" name="image" file-display file-model="user_clone.image" placeholder="Image...">
            <img ng-if="hasChanged(user_clone.image)" id="image" alt="Preview Profile Picture" />
            <img ng-if="!isEmpty(user_clone.image) && !hasChanged(user_clone.image)" ng-src="../backend/public/{{user_clone.image}}" alt="Preview Profile Picture" />
        </label>

        <button type="submit">Update</button>

    </form>

</main>
