<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="user && color_scheme">

    <h1 class="table-title">Games ( {{ item_length }} )</h1>

    <button ng-click="printPage()" class="basic-button">Print</button>

    <!-- Game Filter -->
    <div class="filter-form" ng-include="'views/site/subviews/_filterGameResults.html'"></div>

    <!-- Games Table Order By -->
    <form ng-submit="sortBy(sortVal, filter)" class="sort-media-form">
        <section>
            <label for="sortVal">Sort By:<br>
                <select ng-change="sortBy(sortVal, filter)" ng-model="sortVal">
                    <option value="none">None</option>
                    <option value="title">Title</option>
                    <option value="platform">Platform</option>
                    <option value="esrb_rating">ESRB Rating</option>
                    <option value="genre">Genre</option>
                    <option value="location">Location</option>
                </select>
            </label>
        </section>
    </form>

    <!-- Games Table -->
    <p ng-show="items.length <= 0">No matching games</p>

    <table class="standard-table" ng-show="items.length > 0">
        <tr>
            <th class="table-row-number"></th>
            <th class="image-column">Image</th>
            <th>Title</th>
            <th>Platform</th>
            <th>Genre</th>
            <th>ESRB Rating</th>
            <th>Notes</th>
            <th colspan="2" class="location-column">Location</th>
            <th class="location-column-print">Location</th>
            <th class="button-column"></th>
        </tr>
        <tr ng-repeat="item in items">

            <th ng-if="item.isHeader" colspan="10">{{ item.title }}</th>

            <td ng-if="!item.isHeader" class="table-row-number">{{item.row_number}}</td>
            <td ng-if="!item.isHeader" class="image-column">
                <img ng-if="!isEmpty(item.image)" alt="Game Cover" ng-src="../backend/public/{{item.image}}"/>
                <img ng-if="isEmpty(item.image)" alt="Game Cover" ng-src="/TaraCatalog/frontend/assets/images/game_saver.jpg"/>
            </td>
            <td ng-if="!item.isHeader">{{item.title}}</td>
            <td ng-if="!item.isHeader">{{item.platform}}</td>
            <td ng-if="!item.isHeader">{{item.genre}}</td>
            <td ng-if="!item.isHeader">{{item.esrb_rating}}</td>
            <td ng-if="!item.isHeader">{{item.notes}}</td>
            <td ng-if="!item.isHeader">{{item.location}}</td>
            <td ng-if="!item.isHeader" class="location-dot location-column" ng-class="{'location-dot-away': item.location != 'Apartment'}"></td>
            <td ng-if="!item.isHeader" class="button-column">
                <button class="basic-button table-button" ng-click="goToPath('/games_update/', item.id)">Edit</button>
                <button class="basic-button table-button" ng-click="deleteItem(item.id)">Delete</button>

                <button ng-if="!item.isHeader && item.todo_list" class="basic-button table-button-2 on-todo-list" ng-click="toggleReadList(item.id,0)">Remove from Play List</button>
                <button ng-if="!item.isHeader && !item.todo_list" class="basic-button table-button-2" ng-click="toggleReadList(item.id,1)">Add to Play List</button>
            </td>
        </tr>
    </table>

</main>
