<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="user && color_scheme">

  <h1>Create a Game</h1>

  <form ng-submit="createGame(game)">

    <label for="title">Title<br>
        <input type="text" name="title" id="title" ng-model="game.title" placeholder="Title..."><br>
    </label>

    <label for="platform">Platform<br>
        <input type="text" name="platform" id="platform" ng-model="game.platform" placeholder="Platform..."><br>
        Select From Existing:
        <select ng-model="game.old_platform" ng-options="platform.platform for platform in platforms"></select>
    </label>

    <label for="esrb_rating">ESRB Rating<br>
        <select ng-model="game.esrb_rating">
            <option value="none">None</option>
            <option value="RP">RP (Rating Pending)</option>
            <option value="EC">EC (Early Childhood)</option>
            <option value="E">E (Everyone)</option>
            <option value="E10+">E10+ (Everyone 10+)</option>
            <option value="KA">KA (Kids to Adults)</option>
            <option value="T">T (Teen)</option>
            <option value="M">M (Mature)</option>
            <option value="AO">AO (Adults Only)</option>
        </select>
    </label>

    <label for="location">Location<br>
      <input type="radio" ng-model="game.location" value="Apartment"> Apartment<br>
      <input type="radio" ng-model="game.location" value="Home"> Home<br>
    </label>

    <label for="image">Image<br>
        <input type="file" name="image" file-display file-model="game.image" placeholder="Image...">
        <img ng-if="!isEmpty(game.image)" id="image" alt="Preview Game Image" />
    </label>

    <button type="submit">Create</button>

  </form>


</main>
