<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="user && color_scheme">

    <h1>Play List ( {{ item_length }} )</h1>

    <!-- Go to Add to Play List Page -->
    <div class="basic-url"><a ng-href="#/games_table/play_add">+ Add to Play List</a></div>
    <div class="basic-url"><a ng-click="toggleEdit()">- Remove From Play List</a></div>

    <button ng-if="editOn" class="basic-button add-button" ng-click="removeFromToDoList(removedItems)">Remove Games</button>

    <!-- Games Table -->
    <table ng-show="items.length > 0" class="standard-table">
        <tr>
            <th ng-if="editOn" class="select-header">Select</th>

            <th ng-if="!editOn" class="row-number-header"></th>
            <th class="image-column-header">Image</th>
            <th>Title</th>
            <th>Platform</th>
            <th>Genre</th>
            <th>ESRB Rating</th>
            <th class="location-column-header">Location</th>
        </tr>
        <tr ng-repeat="item in items">

            <th ng-if="item.isHeader" colspan="7">{{ item.title }}</th>

            <td class="table-toggle-box" ng-if="!item.isHeader && editOn"><input ng-click="toggleRemovedItems(item.id)" type="checkbox" name="{{item.title}}" value="{{item.id}}"></td>

            <td ng-if="!item.isHeader && !editOn" class="row-number">{{item.row_number}}</td>
            <td ng-if="!item.isHeader" class="image-column">
                <img ng-if="!isEmpty(item.image)" alt="Game Cover" ng-src="../backend/public/{{item.image}}"/>
                <img ng-if="isEmpty(item.image)" alt="Game Cover" ng-src="/TaraCatalog/frontend/assets/images/game_saver.jpg"/>
            </td>
            <td ng-if="!item.isHeader">{{item.title}}</td>
            <td ng-if="!item.isHeader">{{item.platform}}</td>
            <td ng-if="!item.isHeader">{{item.genre}}</td>
            <td ng-if="!item.isHeader">{{item.esrb_rating}}</td>
            <td ng-if="!item.isHeader" class="location-dot location-column" ng-class="{'location-dot-away': item.location != 'Apartment'}">{{item.location}}</td>
        </tr>
    </table>

</main>
