<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="user && color_scheme">

    <h1>Play List ( {{ item_length }} )</h1>

    <!-- Go to Add to Play List Page -->
    <div class="basic-url"><a ng-href="#/games_table/play_add">+ Add to Play List</a></div>

    <!-- Games Table -->
    <table ng-show="items.length > 0" class="standard-table">
        <tr>
            <th></th>
            <th>Image</th>
            <th>Title</th>
            <th>Platform</th>
            <th>ESRB Rating</th>
            <th colspan="2">Location</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in items">

            <th ng-if="item.isHeader" colspan="8">{{ item.title }}</th>

            <td ng-if="!item.isHeader">{{item.row_number}}</td>
            <td ng-if="!item.isHeader">
                <img ng-if="!isEmpty(item.image)" alt="Game Cover" ng-src="../backend/public/{{item.image}}"/>
                <img ng-if="isEmpty(item.image)" alt="Game Cover" ng-src="/TaraCatalog/frontend/assets/images/game_saver.jpg"/>
            </td>
            <td ng-if="!item.isHeader">{{item.title}}</td>
            <td ng-if="!item.isHeader">{{item.platform}}</td>
            <td ng-if="!item.isHeader">{{item.esrb_rating}}</td>
            <td ng-if="!item.isHeader">{{item.location}}</td>
            <td ng-if="!item.isHeader" class="location-dot" ng-class="{'location-dot-away': item.location != 'Apartment'}"></td>
            <td ng-if="!item.isHeader">
                <button class="basic-button table-button-2 on-todo-list" ng-click="toggleReadList(item.id,0)">Remove from Play List</button>
            </td>
        </tr>
    </table>

</main>
