<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="game_clone && game && user && color_scheme">

  <h1>Update Game</h1>

  <form ng-submit="updateGame(game_clone)">

    <label for="title">Title<br>
        <input type="text" name="title" id="title" ng-model="game_clone.title" placeholder="Title..."><br>
    </label>

    <label for="platform">Platform<br>
        <input type="text" name="platform" id="platform" ng-model="game_clone.platform" placeholder="Platform..."><br>
        Select From Existing:
        <select ng-model="game_clone.old_platform" ng-options="platform.platform for platform in platforms"></select>
    </label>

    <label for="location">Location<br>
      <input type="radio" ng-model="game_clone.location" value="Apartment"> Apartment<br>
      <input type="radio" ng-model="game_clone.location" value="Home"> Home<br>
    </label>

    <label for="image">Image<br>
        <input type="file" name="image" file-display file-model="game_clone.image" placeholder="Image...">
        <img ng-if="hasChanged(game_clone.image)" id="image" alt="Preview Game Image" />
        <img ng-if="!isEmpty(game_clone.image) && !hasChanged(game_clone.image)" ng-src="../backend/public/{{game_clone.image}}" alt="Preview Game Thumbnail" />
    </label>

    <button type="submit">Update</button>

  </form>


</main>
