<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main ng-if="user && color_scheme">

  <h1>Add Games to Play List</h1>

  <p ng-show="items.length <= 0">No games</p>

  <ul  ng-show="items.length > 0" class="add-todo-list">
      <li ng-repeat="item in items">
          <div><input ng-click="toggleAddedItems(item.id)" type="checkbox" name="{{item.title}}" value="{{item.id}}">{{item.title}}</div>
      </li>
  </ul>

  <button ng-show="items.length > 0" class="basic-button add-button" ng-click="addToReadList(addedItems)">Add Games</button>

</main>
