<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main>

  <h1>Books</h1>

  <button ng-click="goToPath('/books_create')" class="create-button">Create New</button>

  <ul class="books-list">

    <li ng-repeat="book in books">
      <a>
        <!-- <img alt="Book Cover" src="assets/images/gimp18.jpg"/> -->
        <section>
          <h6 ng-if="!book.volume">{{book.title}}</h6>
          <h6 ng-if="book.volume">{{book.title}}, Volume {{book.volume}}</h6>

          <div>
            <p ng-if="book.author">by {{book.author}}</p>
            <p ng-if="book.isbn">ISBN: {{book.isbn}}</p>
            <p ng-if="book.location">( {{book.location}} )</p>
          </div>
          <div>
            <p ng-if="book.cover_type">{{book.cover_type}}</p>
            <p ng-if="book.content_type">{{book.content_type}}</p>
          </div>
        </section>
      </a>
    </li>

  </ul>


  <div class="pagination">
    <a ng-class="{ 'selected': page.active }" ng-repeat="page in pages" ng-click="switchPage(page)">{{page.num}}</a>
    <!-- <li ng-repeat="i in getNumber(number)"><span>{{$index+1}}</span></li> -->
    <!-- <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a> -->
</div>

</main>
