<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<div class="loader" ng-if="!user || !color_scheme"></div>

<mc-messages class="message-popup"></mc-messages>

<main ng-if="user && color_scheme">

    <!-- Page Heading -->
    <h1 ng-if="!user.first_name && !user.username">Welcome to Your Media Catalog!</h1>
    <h1 ng-if="user.first_name">Welcome to Your Media Catalog, {{user.first_name}}!</h1>
    <h1 ng-if="user.username && !user.first_name">Welcome to Your Media Catalog, {{user.username}}!</h1>


    <!-- Search your catalog -->
    <p ng-if="user.role == 'viewer' && isActive(['/'])">Your account is view-only. Go to your profile page to become a creator so you can build your own catalog!</p>

    <section class="home-section" ng-if="user.role == 'creator'">

        <h2>Search Catalog</h2>

        <div class="filter-form" id="home-filter" >
            <form ng-submit="search(searchTerm)">
                <section>
                    <input type="text" name="searchTerm" id="searchTerm" ng-model="searchTerm" placeholder="Search...">
                    <button type="submit">Search</button>
                </section>
            </form>
        </div>

    </section>

    <p ng-show="items.length <= 0">No matching results</p>

    <p ng-show="items.length > 0">{{items.length}} results</p>

    <ul class="media-list-pic" ng-show="items.length > 0">
        <li ng-repeat="item in items">

            <img class="corner-img" ng-if="!isEmpty(item.image) && item.type=='book'" alt="Book Cover" ng-src="/TaraCatalog/frontend/assets/images/book_saver.jpg"/>
            <img class="corner-img" ng-if="!isEmpty(item.image) && item.type=='movie'" alt="Movie Cover" ng-src="/TaraCatalog/frontend/assets/images/movie_saver.jpg"/>
            <img class="corner-img" ng-if="!isEmpty(item.image) && item.type=='game'" alt="Game Cover" ng-src="/TaraCatalog/frontend/assets/images/game_saver.jpg"/>
            <img ng-if="!isEmpty(item.image)" alt="Item Cover" ng-src="../backend/public/{{item.image}}"/>
            <img ng-if="isEmpty(item.image) && item.type=='book'" alt="Book Cover" ng-src="/TaraCatalog/frontend/assets/images/book_saver.jpg"/>
            <img ng-if="isEmpty(item.image) && item.type=='movie'" alt="Movie Cover" ng-src="/TaraCatalog/frontend/assets/images/movie_saver.jpg"/>
            <img ng-if="isEmpty(item.image) && item.type=='game'" alt="Game Cover" ng-src="/TaraCatalog/frontend/assets/images/game_saver.jpg"/>
            <h6>{{getDisplayTitle(item)}}</h6>
        </li>
    </ul>

</main>
