<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<main>

    <h1>Statistics</h1>

    <section class="stat-section">
        <h2>Books</h2>
        <div id="BookContentTypeChart" class="chart"></div>
        <div id="BookCoverTypeChart" class="chart"></div>
    </section>

    <section class="stat-section">
        <h2>Movies</h2>
        <div id="MovieFormatChart" class="chart"></div>
        <div id="MovieContentTypeChart" class="chart"></div>
    </section>

    <section class="stat-section">
        <h2>Games</h2>
        <div id="GamePlatformTypeChart" class="chart"></div>
    </section>

</main>
