<div ng-include="'views/site/subviews/_mainMenu.html'"></div>

<div class="loader" ng-if="!user || !color_scheme"></div>

<mc-messages class="message-popup"></mc-messages>

<main ng-if="user && color_scheme">

    <h1>Statistics</h1>

    <section class="stat-section">
        <h2>Books</h2>

        <h4>General</h4>
        <p>Total Number of Books: {{counts.books}}</p>

        <h4>Pie Charts</h4>
        <div id="BookContentTypeChart" class="chart"></div>
        <div id="BookCoverTypeChart" class="chart"></div>
        <div id="BookGenreChart" class="chart"></div>
        <div id="BookCompleteSeriesChart" class="chart"></div>
    </section>

    <section class="stat-section">
        <h2>Movies</h2>

        <h4>General</h4>
        <p>Total Number of Movies: {{counts.movies}}</p>

        <p>Running Time: {{total_running_time.running_time}} minutes ( {{total_running_time.hours}} ) </p>

        <h4>Pie Charts</h4>
        <div id="MovieFormatChart" class="chart"></div>
        <div id="MovieContentTypeChart" class="chart"></div>
        <div id="MovieMPAARatingTypeChart" class="chart"></div>
        <div id="MovieMPAARatingGroupedTypeChart" class="chart"></div>
        <div id="MovieGenreChart" class="chart"></div>
        <div id="MovieCompleteSeriesChart" class="chart"></div>
    </section>

    <section class="stat-section">
        <h2>Games</h2>

        <h4>General</h4>
        <p>Total Number of Games: {{counts.games}}</p>

        <h4>Pie Charts</h4>
        <div id="GameESRBRatingTypeChart" class="chart"></div>
        <div id="GamePlatformTypeChart" class="chart"></div>
        <div id="GameGenreChart" class="chart"></div>
        <div id="GameCompleteSeriesChart" class="chart"></div>
    </section>

    <section class="stat-section">
        <h2>All</h2>
        <div id="LocationBarChart" class="chart"></div>
    </section>

</main>
